
h1
h3 {
  text-align: left;
} 

.blue-text {
  color:blue;
  font-size:40px;
  font-style: oblique;
}

div {
  background-image: url("images/background.jpg");
}

.header
{
  background-image: linear;
  background-size: cover;
  background-position:center;
  height: 150vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin:0;
  padding:0;
}

p{
  color: black;
  font-size:20px;
  font-family:"sans-serif";
  font-style: normal;
}

h1
{
  color: blue;
  font-size:20px;
  font-family:"sans-serif";
  font-style: oblique;
}
.larger-image {
  width: 200px;
  border-color: royalblue;
  border-width: 10px;
  border-style: solid;
  border-radius:10%;
}

img{
  display:block;
  margin:auto;
}

